body{
  background-image: url(background.jpg);
  background-size: cover;
  background-repeat: no-repeat;

}

.content{
  background-color: rgba(0, 0, 0, 0.7);
  width: 1000px;
  border-radius: 10px;
  position: relative;
  margin: auto;
  margin-top: 30px;
  padding: 60px;
}


.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.titolo{
  color: #08dc04;
  font-size: 25px;
  font-family: sans-serif;
  text-align: center;
  margin: 2px;
  padding: 5px;

}
nav{
  background-color: #08dc04;
  text-align: center;
  padding: 5px;
}

.monopattino{
  color: white;
  font-family: sans-serif;
  font-size: 15px;
}

.text{
  font-size: 10px;
  font-family: sans-serif;
  color: white;
}

hr{
  height: 20px;
  margin-left: 0;  
  border-radius: 5px;
}
#bar1{
  width: 200px;
  background-color: orange;
  border-color: orange;
}

#bar2{
  width: 300px;
  background-color: #08dc04;
  border-color: #08dc04;
}

#bar3{
  width: 100px;
  background-color: red;
  border-color: red;
}
